<li
  class="dropdown gn-clear-xs"
  role="menuitem"
  data-ng-show="showPortalSwitcher && ((portals | filter: {listableInHeaderSelector: true}).length > 0 || nodeId != 'srv')"
>
  <!-- Десктопная версия -->
  <a
    title="{{'portals' | translate}}"
    href
    class="dropdown-toggle gn-menuheader-xs hidden-xs"
    role="button"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    <span translate class="sr-only">portals</span>
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu gn-menu-xs clearfix hidden-xs">
    <li class="gn-menuitem-xs" role="menuitem" data-ng-if="nodeId != 'srv'">
      <a href="../../srv/{{lang}}/catalog.search#/home">
        <img
          class="gn-source-logo"
          onerror="this.style.visibility='hidden'"
          data-ng-src="{{gnUrl}}../images/logos/{{info['system/site/siteId']}}.png"
        />
        {{::info['system/site/name']}}
      </a>
    </li>
    <li
      class="divider"
      data-ng-if="(portals | filter: {listableInHeaderSelector: true}).length > 0 && (nodeId != 'srv')"
    ></li>
    <li
      class="dropdown-header"
      translate=""
      data-ng-if="(portals | filter: {listableInHeaderSelector: true}).length > 0"
    >
      switchPortals
    </li>
    <li
      class="gn-menuitem-xs"
      role="menuitem"
      data-ng-repeat="p in portals | filter: {listableInHeaderSelector: true} |orderBy:sortByLabel"
    >
      <a href="../../{{p.uuid}}/{{lang}}/catalog.search">
        <img
          class="gn-source-logo"
          onerror="this.style.visibility='hidden'"
          data-ng-src="{{'../../images/harvesting/' +  p.logo}}"
        />
        {{::p.label[lang]}}
      </a>
    </li>
  </ul>

  <!-- Мобильная версия -->
  <div class="visible-xs-block">
    <select
      class="form-control gn-mobile-select"
      data-ng-model="selectedPortal"
      data-ng-change="switchPortal(selectedPortal)"
      style="margin: 5px 10px; width: calc(100% - 20px)"
    >
      <option value="" disabled selected>{{'portals' | translate}}</option>

      <option
        data-ng-if="nodeId != 'srv'"
        value="../../srv/{{lang}}/catalog.search#/home"
      >
        {{::info['system/site/name']}}
      </option>

      <option
        data-ng-repeat="p in portals | filter: {listableInHeaderSelector: true} |orderBy:sortByLabel"
        value="../../{{p.uuid}}/{{lang}}/catalog.search"
      >
        {{::p.label[lang]}}
      </option>
    </select>
  </div>
</li>
